<section class="contact-section-wrap bank-page">
  <div class="contact-flex-container">
    <div class="contact-column">
      <div class="contact-inner-row">
        <h4 class="section-titel dreamers">Vēlies piepildīt savu sapni?</h4>
      </div>
      <!-- Jāsavieno lapas ar pogām -->
      <div class="contact-inner-row">
        <a href="piesaki_sapni">
          <button class="btn user-btn btn-text">Sapņotājiem</button>
        </a>
      </div>
    </div>

    <div class="contact-column wide">
      <div class="contact-inner-row">
        <h4 class="section-titel">Vēlies palīdzēt kādam <br class="break-line">piepildīt<br class="break-line-mobile"> sapni?</h4>
      </div>
      <!-- Jāsavieno lapas ar pogām -->
      <div class="contact-inner-row">
        <a href="uznemejiem">
          <button class="btn user-btn">Uzņēmējiem</button>
        </a>
      </div>
    </div>
  </div>
</section>