<form class="contact-form" action="/">
  <h3 class="form-title">Sazināties ar mums</h3>
  <input class="form-field" type="text" name="name" placeholder="Vārds, Uzvārds*" required>
  <input class="form-field" type="email" name="email" placeholder="E-pasts*" required><br>
  <input class="form-field" type="tel" name="tel" placeholder="Telefons*" required><br>
  <textarea class="form-field comment-field" name="comment" cols="30" rows="10" placeholder="Jautājums, vai komentārs*" required></textarea><br>
  <p class="mandatory-info small-form-text">* obligāti aizpildāmie lauki</p>

  <div class="checkbox">
    <input type="checkbox" id="agree" name="agree" required>
  </div>

  <div class="text-block">
    <label class="small-form-text" for="agree">Piekrītu, ka mani dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs
    nepieciešams.</label> <br>
  </div>
  <input class="btn submit-form-btn" type="submit" formtarget="_blank" value="Sūtīt">
</form>