<header class="header">
  <a href="/">
    <img class="black-logo" src="/img/BlackLogo.jpg" alt="Melnbalts kompānijas logo.">
  </a>

  <span class="menu-icon" onclick="toggleMenu()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </span>

  <div class="ripped_header"></div>

  <nav class="nav" id="js-nav">
    <ul class="inner-nav">
      <li class="nav-item underline-animation">Ideja</li>
      <li class="nav-item underline-animation">Piesaki Sapni</li>
      <li class="nav-item underline-animation">Uzņēmējiem</li>
      <li class="nav-item underline-animation">Sapņu banka</li>
      <li class="nav-item underline-animation">Sapņus atbalsta</li>
      <li class="nav-item underline-animation"> 99 Iedvesmas stāsti</li>
      <li class="nav-item nav-lang-item underline-animation">LV</li>
    </ul>
  </nav>
</header>
