<%- include ("partials/_head") %>

<div class="container error">

  <%- include ("partials/_header") %>

    <main>
      <section class="error-wrap">
        <div class="benefactors">
          <div class="inner-error">
            <p class="error-number page-undertitle">404</p>
            <p class="error-message page-undertitle">Lapa netika atrasta!</p>
            <p class="page-text">Radusies kāda tehniska kļūda, vai šī lapa vairs nav pieejama.</p>

            <div class="error-btn">
              <a href="/">
                <button class="btn user-btn">Uz sākumlapu</button>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>

  <div class="error-footer">
    <%- include ("partials/_footer") %>
  </div>

</div>

<%- include ("partials/_end") %>