<div class="benefactors-titel">
  <h3 class="section-titel">Atbalstītāji</h3>
</div>
<div class="flex-container-logos">
  <div class="logo logo-teikums">
    <img src="assets/img/logo_Teikums.png" alt="Kompānijas logo.">
  </div>
  <div class="logo logo-sem">
    <img src="assets/img/logo_Sem.png" alt="Kompānijas logo.">
  </div>
  <div class="logo logo-citybee">
    <img src="assets/img/logo_Citybee.png" alt="Kompānijas logo.">
  </div>
  <div class="logo logo-linearis">
    <img src="assets/img/logo_Linearis.png" alt="Kompānijas logo.">
  </div>
</div>
