<div class="flex-container-footer">
  <div class="golden-logo">
    <a href="/">
      <img src="assets/img/GoldenLogo .png" alt="Organizācijas logo zelta krāsā.">
    </a>
  </div>
  <div class="copyright">
    <p class="copyright-text">
      &copy; SparkleHeart 2020.
      <span class="line-break"><br></span>
      Visas tiesības aizsargātas.
    </p>
  </div>

  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li class="footer-list-item">
        <a class="footer-nav-link underline-animation" href="ideja.html"> Ideja</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-nav-link underline-animation" href="piesaki_sapni.html">Piesaki Sapni</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-nav-link underline-animation" href="uznemejiem.html">Uzņēmējiem</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-nav-link underline-animation" href="sapnu_banka.html">Sapņu banka</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-nav-link underline-animation" href="sapnus_atbalsta.html">Sapņus atbalsta</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-nav-link underline-animation" href="iedvesmas_stasti.html">Iedvesmas stāsti</a>
      </li>
    </ul>
  </nav>

  <div class="bank-account">
    <p class="footer-title">Biedrība SparkleHeart</p>
    <div class="account-number">
      <p>Reģistrācijas nr. 40008293119</p>
      <p>Banka: SWEDBANK A/S</p>
      <p>LV52HABA0551047652465</p>
    </div>
  </div>

  <address class="adress">
    <p class="footer-title owner-name">Juris Gogulis</p>
    <div class="adress-details">
      <p>juris.gogulis@sparkleheart.org</p>
      <p>+37126890034</p>
      <p class="street">Biķernieku iela 24a - 5, LV-1006</p>
      <span class="route-to-accoount">
        <p>Skatīt rekvizītus</p>
      </span>
    </div>
  </address>

  <div class="social-media">
    <div>
      <a target="_blank" href="https://www.facebook.com/sparkleheartLV/">
        <img class="fb-icon" src="assets/img/icon_facebook.png" alt="Facebook ikona.">
      </a>
    </div>
    <div>
      <a target="_blank" href="https://www.instagram.com/sparkleheart_org/">
        <img class="ig-icon" src="assets/img/icon_instragram.png" alt="Instagram ikona.">
      </a>
    </div>
  </div>
  <div class="copyright private">
    <p class="copyright-text"> Privātuma politika</p>
  </div>
</div>
