<%- include ("partials/_head") %>

<body>
  <div class="container idea">

    <%- include ("partials/_header") %>

    <main>
      <section class="idea">
        <h1 class="page-heading">Ideja</h1>
        <p class="page-text">
          Juris Gogulis ir pasaules iedvesmots mākslinieks–horeogrāfs un režisors, kura ikdiena aizrit radot aizkustinošus un
          iedvesmojošus radošus projektus. Juris ir pārliecināts, ka ir vērts ticēt katram savam sapnim un censties to īstenot. Kā
          smejas pats - daudzu draugu sapņiem viņš tic vairāk, nekā viņi paši!
        </p>
      </section>

      <section class="founder">
        <div class="founder-overlay"></div>
        <img class="responsive-img founder-img" src="/img/juris.jpg" alt="Kompānijas dibinātāja attēls.">
        <img class="responsive-img founder-img-tablet" src="/img/juris-tablet.jpg" alt="Kompānijas dibinātāja attēls.">
        <img class="responsive-img founder-img-mobile" src="/img/juris-mobile.jpg" alt="Kompānijas dibinātāja attēls.">
        <p class="founder-text">
          “Kopš 3 gadu vecuma mani ir audzinājusi mamma, pēc viņas piemēra esmu sapratis, cik sieviete ir spēcīga un varoša. Vēlos
          atlīdzināt un izveidot platformu, kurā satikties un palīdzēt cilvēkiem piepildīt savus sapņus.”
        </p>
      <!-- pielikt rievoto pirms un pēc bildi -->
      </section>

      <section class="reference">
        <h6 class="referent-name">Ken Ludden</h6>
        <p class="referent-position">Director, Margot Fonteyn Academy of Ballet</p>
        <p class="referent-quote">For it is Juris work that is the <br>
          light the human race needs so badly these days. <span><br></span>
          His vision is inspired and talent is beyond measure.
        </p>
        <div class="arrow-btn">
          <img class="arrow1" src="/img/arrowLeft.png" alt="Bulta pa kreisi.">
          <img src="/img/arrowRight.png" alt="Bulta pa labi.">
        </div>
      </section>

      <%- include ("partials/_toTopBtn") %>

    </main>

    <section class="idea-footer">
      <%- include ("partials/_footer") %>
    </section>

  </div>

<%- include ("partials/_end") %>