<%- include ("partials/_head") %>

<body>
  <div class="container submit-dream">

    <%- include ("partials/_header") %>

    <main>
      <section class="about-submit">
        <h1 class="page-heading">Piesaki sapni</h1>
        <p class="page-text large">Tev ir iespēja pieteikt personīgo vai profesionālo sapni.</p>
      </section>

      <section class="flex-container-dreams">
        <div class="dream-column dog-column">
          <div class="dream-row">
            <img class="dog-img" src="/img/dogIcon.png" alt="Ikona ar suni.">
          </div>
          <div class="dream-row">
            <h3 class="page-undertitle dog">Personīgais sapnis</h3>
          </div>
          <div class="dream-row">
            <p class="page-text personal-dream">Bērnības nepiepildītie sapņi... No sev piederoša svaigi spiestas sulas bāra uz Tērbatas ielas līdz iespējai satikties ar
            Džekiju Čanu.</p>
          </div>
          <div class="dream-row">
            <button class="btn user-btn btn-text personal">Piesaki sapni</button>
          </div>
        </div>

        <div class="dream-column">
          <div class="dream-row">
            <img class="balloon-img" src="/img/balloonIcon.png" alt="Ikona ar gaisa balonu.">
          </div>
          <div class="dream-row">
            <h3 class="page-undertitle balloon">Profesionālais sapnis</h3>
          </div>
          <div class="dream-row">
            <p class="page-text professional-dream">Sapnis vai ideja, kura ir balstīta uz reģiona, pasaules vai cilvēku attīstību 4 virzienos - kultūra, izglītība, zinātne,
            ģimene jeb sociālā vide. Tā ir iespēja attīstīt ideju, kas uzlabotu ikdienas dzīves kvalitāti vai atrisinātu vietēja vai
            starptautiska līmeņa problēmu. Pastāsti, kāpēc Tev tas ir tik nozīmīgi?</p>
          </div>
          <div class="dream-row">
            <button class="btn user-btn btn-text professional">Piesaki sapni</button>
          </div>
        </div>
      </section>

      <section class="dream-page-gallery">
        <div class="gallery">
          <div class="flex-container-gallery wrap">
            <div class="col first-img">
              <img class="responsive-img dream-img1" src="/img/Lauma.jpg" alt="Sieviete ar vijoli.">
            </div>
            <div class="col colage-img">
              <div class="row-inner top-img">
                <img class="responsive-img dream-img2" src="/img/Brinuma_meita-3.jpg" alt="Trīs cilvēku kopbilde.">
              </div>
              <div class="row-inner bottom-img">
                <img class="responsive-img dream-img3" src="/img/Arta.jpg" alt="Sieviete pastaigā mežā.">
              </div>
            </div>
            <div class="col second-img">
              <img class="responsive-img dream-img4" src="/img/Lauma2.jpg" alt="Sieviete ar kroni.">
            </div>
            <div class="col last-img">
              <img class="responsive-img dream-img5" src="/img/Brinuma_meita-2.jpg" alt="Trīs jauniešu kopbilde.">
            </div>
          </div>
        </div>
      </section>

      <section class="dream-form">
        <%- include ("partials/_form") %>
      </section>

      <%- include ("partials/_toTopBtn") %>
    </main>

    <section class="dream-footer">
      <%- include ("partials/_footer") %>
    </section>

  </div>
  <%- include ("partials/_end") %>